@font-face {
    font-family: 'Helvetica Neue';
    src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url("/fonts/HelveticaNeue-Light.ttf") format("truetype"), url("/fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"), url("/fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("/fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: 'Helvetica Neue XP';
    src: url("/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"), url("/fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue XP';
    src: url("/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("/fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
}
html {
    -ms-content-zooming: none;
}
body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    -ms-content-zooming: none;
}
body textarea,
body input {
    font-family: "Helvetica Neue", sans-serif;
}
b,
strong,
.font-medium {
    font-weight: 500;
}
.subtitle {
    font-size: 60%;
    vertical-align: middle;
}